## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [7]:
# 1) Seu código aqui

perc_mat = df_mat / 24
perc_por = df_por / 18
perc_geo = df_geo / 8
perc_ing = df_ing / 8
perc_his = df_his / 8
perc_fis = df_fis / 12
perc_qui = df_qui / 12

In [8]:
# 2) Seu código aqui

total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [9]:
# 3) Seu código aqui

total_acertos / 90 #total de questoes

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [14]:
# 4) Seu código aqui

total_nota_corte = total_acertos[total_acertos['Qt_acertos'] > 45]
print(total_nota_corte.count())

perc_acertos_alunosAprov = total_nota_corte.count() / 100 # % de alunos aprovados do total, caso a resposta nao seja inteira (total maior que 100)
print(perc_acertos_alunosAprov)

Qt_acertos    31
dtype: int64
Qt_acertos    0.31
dtype: float64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [15]:
# seu código aqui

#separacao para desqualificacao

DataFrame_eliminados = total_acertos[(df_mat['Qt_acertos'] == 0) | 
                                     (df_fis['Qt_acertos'] == 0) |
                                     (df_qui['Qt_acertos'] == 0)]

print(DataFrame_eliminados)

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [16]:
#quantidade alunos eliminados
DataFrame_eliminados.count()

Qt_acertos    23
dtype: int64

In [17]:
#media alunos eliminados

DataFrame_eliminados['Qt_acertos'].mean()

37.17391304347826

In [20]:
dataframe_segundafase = DataFrame_eliminados[DataFrame_eliminados['Qt_acertos'] > 45]
print(dataframe_segundafase)

#quantidade para segunda fase

print(dataframe_segundafase.count())

    Qt_acertos
20          53
27          50
35          48
72          50
89          63
Qt_acertos    5
dtype: int64

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [25]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-9ebd8d78-953b-4262-b7cc-0486ada96c60.c000.csv'

In [29]:
# 1) Sua solução aqui
#foi necessario alterar o link para funcionar
df = pd.read_csv(arquivo, sep=';') #leitura do arquivo

In [30]:
#1)

df.shape[0]

381008

In [32]:
# 2)

df['paciente_id'].nunique()

312394

In [45]:
# 3)
desc_vacinas = df['vacina_descricao_dose'].unique()
#print(desc_vacinas)

pacientes_unicos_primeira_dose = df['paciente_id'].loc[df['vacina_descricao_dose']== '1ª Dose'].nunique()

print(pacientes_unicos_primeira_dose)

142161

In [ ]:
# 3) solução alternativa

#pac_unic = df[df[]]

In [47]:
# 4)

df_menor_18 = df[df['paciente_idade']<18]
df_menor_18['paciente_id'].nunique()

65521

In [50]:
# 5)

df['estabelecimento_razaoSocial'].nunique()

57

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381008 entries, 0 to 381007
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               381008 non-null  object
 1   paciente_id                               381008 non-null  object
 2   paciente_idade                            381008 non-null  int64
 3   paciente_dataNascimento                   381008 non-null  object
 4   paciente_enumSexoBiologico                381008 non-null  object
 5   paciente_racaCor_codigo                   381008 non-null  int64
 6   paciente_racaCor_valor                    381008 non-null  object
 7   paciente_endereco_coIbgeMunicipio         378641 non-null  float64
 8   paciente_endereco_coPais                  378647 non-null  float64
 9   paciente_endereco_nmMunicipio             378646 non-null  object
 10  paciente_endereco_nmPais                  378647 non-null  object
 11  paciente_endereco_uf                      378641 non-null  object
 12  paciente_endereco_cep                     325310 non-null  float64
 13  paciente_nacionalidade_enumNacionalidade  380830 non-null  object
 14  estabelecimento_valor                     381008 non-null  int64
 15  estabelecimento_razaoSocial               381008 non-null  object
 16  estalecimento_noFantasia                  381008 non-null  object
 17  estabelecimento_municipio_codigo          381008 non-null  int64
 18  estabelecimento_municipio_nome            381008 non-null  object
 19  estabelecimento_uf                        381008 non-null  object
 20  vacina_grupoAtendimento_codigo            381008 non-null  int64
 21  vacina_grupoAtendimento_nome              380040 non-null  object
 22  vacina_categoria_codigo                   360651 non-null  float64
 23  vacina_categoria_nome                     360651 non-null  object
 24  vacina_lote                               381008 non-null  object
 25  vacina_fabricante_nome                    381008 non-null  object
 26  vacina_fabricante_referencia              378862 non-null  object
 27  vacina_dataAplicacao                      381008 non-null  object
 28  vacina_descricao_dose                     381008 non-null  object
 29  vacina_codigo                             381008 non-null  int64
 30  vacina_nome                               380999 non-null  object
 31  sistema_origem                            380609 non-null  object
dtypes: float64(4), int64(6), object(22)
memory usage: 93.0+ MB

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [51]:
# 1)

df_menor_18 = df[df['paciente_idade'] < 18].copy()

In [53]:
# 2)
df_menor_18.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [56]:
# 3)

#df_menor_18['vacina_categoria_nome'].count()

df_menor_18['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      44945
Povos Indígenas                                    4094
Outros                                             3697
Povos e Comunidades Tradicionais                    681
Trabalhadores de Saúde                              238
Comorbidades                                         56
População Privada de Liberdade                       51
Gestantes                                            39
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [62]:
# 4)

lista_estabelecimento = ['estabelecimento_valor', 
                        'estabelecimento_razaoSocial',
                        'estalecimento_noFantasia',
                        'estabelecimento_municipio_codigo',
                        'estabelecimento_municipio_nome',
                        'estabelecimento_uf']

In [63]:
# 5)

df_menor_18_lista = df_menor_18.loc[:,lista_estabelecimento]
#print(df_menor_18_lista)

In [64]:
#6)
#antes
print(df_menor_18_lista.shape)

df_menor_18_lista = df_menor_18_lista.drop_duplicates()

#depois
print(df_menor_18_lista.shape)

(73724, 6)
(184, 6)